/* footer */

footer {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

.footer_block h2 {
    font-family: Jura;
    font-size: 20px;
    color: white;
    font-weight: 400;
}

.footer_block .button_auth {
    padding: 13px 15px;
    background: white;
    color: black;
    border: 2px white solid;
    border-radius: 10px;
    font-size: 20px;
}

.footer_block .button_auth:hover {
    background: transparent;
    color: white;
}

.img_header_block a {
    color: white;
}

.img_header_block a:hover {
    transform: scale(1.05);
}


/* footer */