/* fonts */

@font-face {
    font-family: Jura;
    src: url(../fonts/Jura/Jura-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Jura;
    src: url(../fonts/Jura/Jura-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Jura;
    src: url(../fonts/Jura/Jura-Bold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
    font-weight: 600;
}

/* fonts */


/* zeroing */

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    transition: all .5s;
    box-sizing: border-box;
    font-family: Montserrat, Arial, Helvetica;
}

a,
button,
input[type="submit"] {
    outline: none;
    cursor: pointer;
}

/* zeroing */


/* conatiner */

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.my_120 {
    margin-top: 120px;
}

.main_title {
    font-family: Jura;
    font-size: 48px;
    margin-bottom: 40px;
    font-weight: 500;
}

.main_block {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.main_subblock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* conatiner */